In [189]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

import warnings
warnings.filterwarnings('ignore')

import matplotlib.dates as mdates
from mpl_finance import candlestick_ohlc

In [190]:
import nltk
#nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sia = SentimentIntensityAnalyzer()

In [191]:
a = datetime.date(2017,01,01).strftime("%s")
a

'1483257600'

In [194]:
# load BTC data

import json
import requests

def get_data_spec(coin, date, time_period,apiKey):
    """ Query the API for 2000 units historical price data starting from "date". """
    url = "https://min-api.cryptocompare.com/data/{}?fsym={}&tsym=USD&limit=2000&toTs={}&api_key={}".format(time_period, coin, date,apiKey)
    r = requests.get(url)
    ipdata = r.json()
    return ipdata

def get_df_spec(time_period, coin, from_date, to_date):
    """ Get historical price data between two dates. If further apart than query limit then query multiple times. """
    date = to_date
    holder = []
    while date > from_date:
        # Now we use the new function to query specific coins
        data = get_data_spec(coin, date, time_period,apiKey) 
        holder.append(pd.DataFrame(data['Data']))
        date = data['TimeFrom'] 
    df = pd.concat(holder, axis = 0)
    df = df[df['time']>from_date]
    df['time'] = pd.to_datetime(df['time'], unit='s') 
    df.set_index('time', inplace=True)
    df.sort_index(ascending=False, inplace=True)
    # And just keep the close price, with the column heading as the name of the coin. 
    #df.rename(columns={'close':coin}, inplace=True)
    return df

# def load_data (fromtime,totime = 'now',cointype,frequency):
#     
#     if totime == 'now':
#         toT = datetime.now().strftime("%s")
#     url = 'https://min-api.cryptocompare.com/data/histo' + frequency
#     payload = {
#         "api_key": apiKey,
#         "fsym": cointype,
#         "tsym": "USD",
#         "limit": 2000,
#         "toTs": totime
#     }

# res_BTC = requests.get(url, params=payload)
# hist_BTC = pd.DataFrame(json.loads(res_BTC.content)['Data'])
# hist_BTC = hist_BTC.set_index('time')
# hist_BTC.index = pd.to_datetime(hist_BTC.index, unit='s')

# parameters
fromdate = int(datetime.date(2017,01,01).strftime("%s"))
todate = datetime.date(2019,04,01).strftime("%s") #today
coin = 'BTC'
timeperiod = 'histoday'
apiKey = 'bf7c04a024b244dea99e95798fa8e102b7c9738c0933795253c2c8f39f2d160c'

df = get_df_spec(timeperiod,coin,fromdate, todate)

In [ ]:
df.tail()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>close</th>
      <th>high</th>
      <th>low</th>
      <th>open</th>
      <th>volumefrom</th>
      <th>volumeto</th>
    </tr>
    <tr>
      <th>time</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-04-01</th>
      <td>4151.32</td>
      <td>4164.33</td>
      <td>4082.20</td>
      <td>4112.69</td>
      <td>36921.55</td>
      <td>1.528268e+08</td>
    </tr>
    <tr>
      <th>2019-03-31</th>
      <td>4112.69</td>
      <td>4129.43</td>
      <td>4098.79</td>
      <td>4118.13</td>
      <td>13792.73</td>
      <td>5.672743e+07</td>
    </tr>
    <tr>
      <th>2019-03-30</th>
      <td>4118.13</td>
      <td>4146.88</td>
      <td>4066.87</td>
      <td>4111.38</td>
      <td>24906.26</td>
      <td>1.024005e+08</td>
    </tr>
    <tr>
      <th>2019-03-29</th>
      <td>4111.38</td>
      <td>4122.89</td>
      <td>4031.22</td>
      <td>4036.45</td>
      <td>41843.31</td>
      <td>1.709151e+08</td>
    </tr>
    <tr>
      <th>2019-03-28</th>
      <td>4036.45</td>
      <td>4046.44</td>
      <td>4014.69</td>
      <td>4045.98</td>
      <td>25343.13</td>
      <td>1.022963e+08</td>
    </tr>
  </tbody>
</table>
</div>

In [80]:
# get price change log return
target_col = 'close'
s_test = hist_BTC[target_col]
log_return = np.log(s_test/s_test.shift())
hist_BTC['price change'] = log_return

# feature extraction from OHLC
'''close/open: since cryprocurrencies are continuously trading, this is the same as price change above
close price of t-1 is the same as open price of t'''
#hist_BTC['close/open'] = np.log(hist_BTC['close']/hist_BTC['open'])
'''high/open'''
hist_BTC['high/open'] = np.log(hist_BTC['high']/hist_BTC['open'])
'''low/open'''
hist_BTC['low/open'] = np.log(hist_BTC['low']/hist_BTC['open'])
'''close/high'''
hist_BTC['close/high'] = np.log(hist_BTC['close']/hist_BTC['high'])
'''close/low'''
hist_BTC['close/low'] = np.log(hist_BTC['close']/hist_BTC['low'])
hist_BTC = hist_BTC.drop(['close','high','low','open','volumefrom'],axis=1)
hist_BTC.rename(columns = {'volumeto':'volumn'},inplace=True)
hist_BTC = hist_BTC.dropna()

In [157]:
hist_BTC.tail()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>volumn</th>
      <th>price change</th>
      <th>high/open</th>
      <th>low/open</th>
      <th>close/high</th>
      <th>close/low</th>
    </tr>
    <tr>
      <th>time</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-03-30</th>
      <td>4.433347e+07</td>
      <td>-0.007786</td>
      <td>0.018252</td>
      <td>-0.022621</td>
      <td>-0.026038</td>
      <td>0.014835</td>
    </tr>
    <tr>
      <th>2019-03-31</th>
      <td>1.878025e+07</td>
      <td>-0.006231</td>
      <td>0.000349</td>
      <td>-0.013349</td>
      <td>-0.006579</td>
      <td>0.007118</td>
    </tr>
    <tr>
      <th>2019-04-01</th>
      <td>4.717548e+07</td>
      <td>-0.003870</td>
      <td>0.010757</td>
      <td>-0.016426</td>
      <td>-0.014626</td>
      <td>0.012556</td>
    </tr>
    <tr>
      <th>2019-04-02</th>
      <td>1.997890e+08</td>
      <td>0.150751</td>
      <td>0.167705</td>
      <td>-0.001764</td>
      <td>-0.016954</td>
      <td>0.152515</td>
    </tr>
    <tr>
      <th>2019-04-03</th>
      <td>2.408487e+08</td>
      <td>0.077329</td>
      <td>0.086713</td>
      <td>-0.009993</td>
      <td>-0.009384</td>
      <td>0.087323</td>
    </tr>
  </tbody>
</table>
</div>

In [153]:
hist_BTC.index[2].strftime("%s")

'1439103600'

In [154]:
# news data
import datetime

url = 'https://min-api.cryptocompare.com/data/v2/news/'

payload = {
    "api_key": apiKey,
    "lang": "EN",
    'categories':'BTC',
    "lTs" :"1506409200"
}

# 86400

# retrieve news data
res_BTC = requests.get(url, params=payload)
news_BTC = pd.DataFrame(json.loads(res_BTC.content)['Data'])
news_BTC['time'] = news_BTC['published_on'].apply(lambda x: datetime.datetime.fromtimestamp(x).strftime("%Y-%m-%d"))
news_BTC = news_BTC.set_index('time')

# get vader sentiment score on news content
news_BTC['news_content'] = news_BTC['title'] + news_BTC['body']
news_BTC['vader_polarity'] = news_BTC['news_content'].apply(lambda x: sia.polarity_scores(x))
news_BTC['vader_compound'] = news_BTC['vader_polarity'].apply(lambda x: x['compound'])
news_BTC['vader_neg'] = news_BTC['vader_polarity'].apply(lambda x: x['neg'])
news_BTC['vader_neu'] = news_BTC['vader_polarity'].apply(lambda x: x['neu'])
news_BTC['vader_pos'] = news_BTC['vader_polarity'].apply(lambda x: x['pos'])

In [156]:
news_BTC.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>body</th>
      <th>categories</th>
      <th>downvotes</th>
      <th>guid</th>
      <th>id</th>
      <th>imageurl</th>
      <th>lang</th>
      <th>published_on</th>
      <th>source</th>
      <th>source_info</th>
      <th>tags</th>
      <th>title</th>
      <th>upvotes</th>
      <th>url</th>
      <th>news_content</th>
      <th>vader_polarity</th>
      <th>vader_compound</th>
      <th>vader_neg</th>
      <th>vader_neu</th>
      <th>vader_pos</th>
    </tr>
    <tr>
      <th>time</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-09-25</th>
      <td>As inflation takes a bigger bite out of payche...</td>
      <td>BTC|Trading</td>
      <td>0</td>
      <td>https://cointelegraph.com/news/bitcoin-trading...</td>
      <td>256</td>
      <td>https://images.cryptocompare.com/news/default/...</td>
      <td>EN</td>
      <td>1506394824</td>
      <td>cointelegraph</td>
      <td>{u'lang': u'EN', u'name': u'CoinTelegraph', u'...</td>
      <td>Bitcoin|Zimbabwe|Venezuela</td>
      <td>Bitcoin Trading at 85% Premium in Zimbabwe - P...</td>
      <td>0</td>
      <td>https://cointelegraph.com/news/bitcoin-trading...</td>
      <td>Bitcoin Trading at 85% Premium in Zimbabwe - P...</td>
      <td>{u'neg': 0.083, u'neu': 0.917, u'pos': 0.0, u'...</td>
      <td>-0.4215</td>
      <td>0.083</td>
      <td>0.917</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>2017-09-25</th>
      <td>Bitcoin is a new and intriguing protocol that ...</td>
      <td>BTC|Blockchain</td>
      <td>0</td>
      <td>https://news.bitcoin.com/?p=61393</td>
      <td>254</td>
      <td>https://images.cryptocompare.com/news/bitcoin....</td>
      <td>EN</td>
      <td>1506393012</td>
      <td>bitcoin.com</td>
      <td>{u'lang': u'EN', u'name': u'Bitcoin.com', u'im...</td>
      <td>Reviews|Bitbonkers|Bitcoin network|Bitlisten|B...</td>
      <td>A Glimpse at Six Unique Cryptocurrency Visuali...</td>
      <td>0</td>
      <td>https://news.bitcoin.com/a-glimpse-at-six-uniq...</td>
      <td>A Glimpse at Six Unique Cryptocurrency Visuali...</td>
      <td>{u'neg': 0.0, u'neu': 0.966, u'pos': 0.034, u'...</td>
      <td>0.3612</td>
      <td>0.000</td>
      <td>0.966</td>
      <td>0.034</td>
    </tr>
    <tr>
      <th>2017-09-25</th>
      <td>Swapper is an automated blockchain based servi...</td>
      <td>BTC|Regulation|Exchange|Blockchain|Sponsored</td>
      <td>0</td>
      <td>http://www.newsbtc.com/?p=49208</td>
      <td>249</td>
      <td>https://images.cryptocompare.com/news/newsbtc/...</td>
      <td>EN</td>
      <td>1506385874</td>
      <td>newsbtc</td>
      <td>{u'lang': u'EN', u'name': u'NewsBTC', u'img': ...</td>
      <td>Press Release|1031|bitcoin|cryptocurrency|swapper</td>
      <td>Swapper.io Seeks to Protect Bitcoin Users from...</td>
      <td>0</td>
      <td>http://www.newsbtc.com/2017/09/26/swapper-io-s...</td>
      <td>Swapper.io Seeks to Protect Bitcoin Users from...</td>
      <td>{u'neg': 0.053, u'neu': 0.777, u'pos': 0.17, u...</td>
      <td>0.8885</td>
      <td>0.053</td>
      <td>0.777</td>
      <td>0.170</td>
    </tr>
    <tr>
      <th>2017-09-25</th>
      <td>If you were a real early hoarder of Bitcoin wh...</td>
      <td>BTC|Market</td>
      <td>0</td>
      <td>http://www.newsbtc.com/?p=49186</td>
      <td>246</td>
      <td>https://images.cryptocompare.com/news/newsbtc/...</td>
      <td>EN</td>
      <td>1506383036</td>
      <td>newsbtc</td>
      <td>{u'lang': u'EN', u'name': u'NewsBTC', u'img': ...</td>
      <td>Bitcoin News|News|bitcoin|cryptocurrency|mansi...</td>
      <td>Bitcoin Can Now Buy a Mansion in Moscow Suburbs</td>
      <td>0</td>
      <td>http://www.newsbtc.com/2017/09/26/bitcoin-mans...</td>
      <td>Bitcoin Can Now Buy a Mansion in Moscow Suburb...</td>
      <td>{u'neg': 0.05, u'neu': 0.904, u'pos': 0.046, u...</td>
      <td>0.1531</td>
      <td>0.050</td>
      <td>0.904</td>
      <td>0.046</td>
    </tr>
    <tr>
      <th>2017-09-25</th>
      <td>Hyperinflation in Venezuela has made a reality...</td>
      <td>BTC|Mining</td>
      <td>0</td>
      <td>http://bitcoinist.com/?p=49906</td>
      <td>243</td>
      <td>https://images.cryptocompare.com/news/bitcoini...</td>
      <td>EN</td>
      <td>1506380448</td>
      <td>bitcoinist</td>
      <td>{u'lang': u'EN', u'name': u'Bitcoinist', u'img...</td>
      <td>Bitcoin|Mining|News|News teaser|bitcoin|bitcoi...</td>
      <td>Venezuelan Hyperinflation Makes Bitcoin An Ide...</td>
      <td>0</td>
      <td>https://bitcoinist.com/venezuelan-hyperinflati...</td>
      <td>Venezuelan Hyperinflation Makes Bitcoin An Ide...</td>
      <td>{u'neg': 0.0, u'neu': 0.833, u'pos': 0.167, u'...</td>
      <td>0.7783</td>
      <td>0.000</td>
      <td>0.833</td>
      <td>0.167</td>
    </tr>
  </tbody>
</table>
</div>

In [134]:
import datetime

d = datetime.date(2017,5,27)
d.strftime("%s")

'1495868400'

'1506409200'

In [84]:
# social data

import datetime

url = 'https://min-api.cryptocompare.com/data/social/coin/histo/day'

payload = {
    "api_key": apiKey,
    "coinID": "1182",
    'aggregate':1,
    'limit':100,
    'toTs':1543622400
}

res_BTC = requests.get(url, params=payload)
social_BTC = pd.DataFrame(json.loads(res_BTC.content)['Data'])
social_BTC['time'] = social_BTC['time'].apply(lambda x: datetime.datetime.fromtimestamp(x).strftime("%Y-%m-%d"))
social_BTC = social_BTC.set_index('time')

In [91]:
#social_BTC.head()